.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

@font-face {
	font-family: BrandonLight;
	src: url(/fonts/brandon_light.otf);
}

@font-face {
	font-family: Nitti;
	src: url(/fonts/nitti.otf);
}

* {
	font-family: BrandonLight;
	color: #ffffff;
	box-sizing: border-box;
}

#enterSite * {
	font-size: 14px;
}

a {
	text-decoration: none !important;
	color: #ffffff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	transition: color 0.3s linear;
	    -o-transition: color 0.3s linear;
	    -ms-transition: color 0.3s linear;
	    -moz-transition: color 0.3s linear;
	    -webkit-transition: color 0.3s linear;
}

a, a:hover, a:focus {
	cursor: pointer;
	text-decoration: none;
}

hr {
	width: 40%;
	border: none;
	height: 1px;
	color: #ffffff;
	background-color: #ffffff;
	margin-top: 40px;
	margin-bottom: 40px;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #000000;
}

button {
	height: 3.5em;
	width: 13.5em;
	/*font-size: 14px;*/
	padding: 0.5em;
	cursor: pointer;
	letter-spacing: 3px;
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: 0px;
	outline: none;
		box-shadow: none !important;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
	transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		-ms-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
}

button:hover, button:active, button:focus {
	border-color: #ffffff;
	color: #000000;
	background-color: #ffffff;
	outline: none;
		box-shadow: none !important;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
}

/*#enterSite {
	display: none;
}

#mainSite {
	display: block;
}*/

#enterSite {
	display: block;
}

#mainSite {
	display: none;
}

/* LANDING PAGE */

.sm .landing {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #f8f8f8;
}

.sm .landing-background {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
}

.sm .landing-content {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
}

.sm .landing-logo {
	width: 16em;
	height: auto;
	margin-top: 2em;
}

.sm .enter-site {
	color: #000000;
	border: 2px solid #000000;
	font-size: 14px;
	margin-top: 4em;
}

.sm .enter-site:hover, .sm .enter-site:active, .sm .enter-site:focus {
	border-color: #000000;
	color: #ffffff;
	background-color: #000000;
}

.sm .social-share {
	margin-top: 4em;
}

.sm .social-share a {
	margin: 10px;
}

.sm .social-icon {
	width: 24px;
	height: auto;
}

.sm {
	display: none;
}

/* Landing Page large screen */

.lg {
	display: block;
}

.lg .landing {
	width: 100vw;
	position: relative;
}

.lg .landing-background {
	width: 100%;
	height: auto;
}

.lg .landing-content {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 18em;
}

.lg .landing-logo {
	width: 24em;
	height: auto;
	margin-top: 3em;
}

#enterSite .lg .enter-site {
	margin-top: 6em;
}

#enterSite .lg .social-share {
	position: absolute;
	left: 0;
	right: 0;
	padding-top: 6em;
}

#enterSite .lg .social-share a {
	margin: 10px;
}

#enterSite .lg .social-icon {
	width: 24px;
	height: auto;
}

@media (max-width: 767px) {
	#enterSite .sm {
		display: block;
	}

	#enterSite .lg {
		display: none;
	}

	.sm .landing-logo, .sm .enter-site {
		margin-top: 3em;
		font-size: 12px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	#enterSite * {
		font-size: 12px;
	}

	.lg .enter-site {
		margin-top: 4em;
	}

	.lg .landing-content {
		top: 16em;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.lg .landing-content {
		top: 16em;
	}

	/*#enterSite * {
		font-size: 12px;
	}*/
}

@media (min-width: 1200px) and (max-width: 1599px) {
	.lg .landing-logo {
		width: 22em;
	}

	.lg .landing-content {
		top: 20em;
	}

	.lg .landing-logo {
		margin-top: 2em;
	}

	/*#enterSite .lg .enter-site, #enterSite .lg .social-share{
		margin-top: 6em;
		font-size: 14px;
	}*/
}

@media (min-width: 1600px) {
	.lg .landing-logo {
		width: 32em;
	}

	.lg .landing-content {
		top: 28em;
	}
}

/* MAIN SITE */

nav {
	height: 60px;
}

nav > div {
	height: 100%;
	padding: 30px 50px;
}

nav .nav-logo {
	float: left;
	height: 100%;
}

nav .nav-logo img {
	height: 28px;
    width: auto;
    margin: 10px 15px;
}

nav .nav-menu {
	float: right;
	height: 100%;
}

nav .sm-nav-menu {
	display: none;
	z-index: 1;
}

nav .sm-menu, nav .sm-menu-close {
	display: none;
	float: right;
	height: 100%;
	cursor: pointer;
}

nav .sm-menu img, nav .sm-menu-close img {
	height: 16px;
	width: auto;
	margin: 15px;
}

nav .sm-menu-close img {
	margin-right: 25px;
	position: relative;
}

nav ul {
	list-style: none;
	margin: 15px;
}

nav ul li {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

nav ul li a {
	color: #ffffff;
	letter-spacing: 3px;
	font-size: 14px;
}

.section {
	overflow-x: hidden;
}

#mainSite {
	max-width: 1400px;
	margin: 0 auto;
}

#mainSite * {
	font-size: 12px;
}

#mainSite .section h3 {
	letter-spacing: 3px;
	font-size: 16px;
}

#mainSite p {
	font-family: Nitti;
}

#mainSite button {
	width: 16em;
	font-size: 11px;
	height: 4em;
	margin-top: 15px;
}

/*#home .video iframe {
	width: 100%;
	height: 100%;
	border: none;
	overflow: hidden;
}*/

#home {
	padding: 40px;
	padding-top: 80px;
}

#home > div {
	display: inline-block;
	position: relative;
	float: left;
	padding: 30px;
}

#home .video {
	width: 60%;
}

#home .content {
	width: 40%;
	max-width: 400px;
}

#home .video .container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

#home .video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	overflow: hidden;
}

#about {
	padding: 30px;
}

#about > div {
	display: block;
	position: relative;
	padding: 30px;
	width: 100%;
}

#about .media {
	text-align: right;
	left: -30px;
}

#about .content {
	max-width: 400px;
}

#about .media .change-img {
	display: none;
	height: 100%;
}

#about .media .change-img img {
	width: auto;
	height: 20px;
}

#about .member {
	display: inline-block;
	width: 240px;
	height: auto;
	margin: 10px;
}

#about .member img {
	width: 100%;
	height: auto;
	/*margin: 10px;*/
}

#about .member .name {
	text-align: left;
	position: relative;
	left: 160px;
	margin-top: 10px;
}

#about .member .name label {
	letter-spacing: 3px;
	font-size: 10px;
}

#about .member .name p {
	margin: 0px;
}

#about .member[name="2"] {
	position: relative;
	bottom: 150px;
}

#about .member[name="3"] {
	position: relative;
	bottom: 300px;
}

.hide {
	display: none !important;
}

#music {
	padding: 0px;
	/*height: 100%;
	max-height: 755px;
	overflow-y: hidden;*/
}

#music .media img {
	width: 100%;
	height: auto;
}

#music .lg > div {
	display: inline-block;
	width: 50%;
	padding: 0px;
	float: left;
	box-sizing: border-box;
}

#music .lg .content {
	height: 100%;
}

#music .lg .content > div {
	position: relative;
	left: 15em;
	top: 20em;
}

#music .lg .content > div h3 {
	margin-bottom: 5em;
}

#music .lg .content > div p {
	margin-bottom: 10em;
}

#music .sm > div {
	padding-bottom: 30px;
	box-sizing: border-box;
}

#music .sm .media {
	padding: 0px;
}

#music .sm .content {
	padding: 15px 30px 100px 30px;
}

#music .sm .content p {
	margin-bottom: 20px;
}

#contact {
	padding: 0px;
	position: relative;
}

#contact .media {
	overflow: hidden;
	padding: 0px;
}

#contact .sm .content {
	padding: 15px 30px;
}

#contact .media img {
	width: 100%;
	height: auto;
}

#contact .lg .content {
	background-color: #000;
	padding: 80px;
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 540px;
	max-height: 280px;
	top: 25em;
	z-index: 1;
	right: 90px;
	
}

#contact .sm h3 {
	margin-bottom: 30px;
}

#contact a, #contact p {
	font-family: Nitti;
}

#contact .sm .social-icon {
	width: 18px;
	height: auto;
}

#contact .sm .social-share {
	text-align: center;
}

#contact .sm .social-share a {
	margin-right: 20px;
}

#contact .sm .social-share img {
	width: 32px;
	height: auto;
}

#contact .lg .social-share a {
	margin-right: 10px;
}

#contact .lg .social-share img {
	width: 18px;
	height: auto;
}

#footer {
	margin-top: 100px;
}

#footer .content {
	text-align: center;
}

#footer .content {
	padding-bottom: 30px;
}



@media (max-width: 991px) {

	#mainSite .sm {
		display: block;
	}

	#mainSite .lg {
		display: none;
	}

	.section {
		max-width: 700px;
		margin: 0 auto;
	}

	nav > div {
		height: 100%;
		padding: 10px 0px;
	}

	nav .nav-menu {
		display: none;
	}

	nav .sm-nav-menu {
		position: absolute;
		right: 0;
		height: 300px;
		width: 250px;
		background-color: #fff;
	}

	nav .sm-nav-menu ul {
		margin: 60px 60px 0px 0px;
	}

	nav .sm-nav-menu ul li {
		display: block;
		margin: 30px;
		text-align: right;
	}

	nav .sm-nav-menu ul li a {
		color: #000000;
	}

	nav .sm-menu, nav .sm-menu-close {
		display: block;
	}

	.donate-center {
		width: 100%;
		text-align: center;
	}

	#mainSite button {
		font-size: 14px;
	}

	#home {
		padding: 30px 0px 30px 0px;
	}

	#home > div, #about > div {
		display: block;
		padding: 0px;
		float: none;
	}

	#home .content {
		padding-left: 30px;
		padding-right: 30px;
	}

	/*#home .video iframe {
		max-width: 600px;
	}*/

	#home .video {
		width: 100%;
		/*max-height: 400px;*/
		text-align: center;
	}

	#home .content, #about .content, #music .content, #contact .content {
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		margin-top: 30px;
	}

	#about .content {
		margin-top: 0px;
	}

	#about .media {
		text-align: center;
		left: 0;
	}

	#about .media .change-img {
		display: inline-block;
		cursor: pointer;
		max-height: 400px;
	}

	#about .media .change-img .helper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	#about .media .change-img img {
		vertical-align: middle;
	}

	#about .media .change-img.prev {
		float: left;
		padding-right: 20px;
	}

	#about .media .change-img.next {
		float: right;
		padding-left: 20px;
	}

	#about .member {
		width: calc(100% - 100px);
		max-width: 300px;
		height: auto;
		margin: 10px;
	}

	#about .member .name {
		text-align: center;
		position: relative;
		left: 0px;
	}

	#about .member .name label {
		letter-spacing: 3px;
		font-size: 10px;
	}

	#about .member .name p {
		margin: 0px;
	}

	#about .member[name="1"] {
		display: inline-block;
	}

	#about .member[name="2"] {
		position: relative;
		bottom: 0px;
	}

	#about .member[name="3"] {
		position: relative;
		bottom: 0px;
	}

	#music .content {
		height: auto;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

}

/*@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) and (max-width: 1599px) {

}

@media (min-width: 1600px) {

}*/






























